{# ---- Define / Extends ---- #}
{% extends 'base.html' %}
{% block head %}
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/sidebar/styles.css') }}"
  />
{% endblock %}

{# ---- Main Body ---- #}
{% block body %}
  <div class="app">
    {# ---- Sidebar Body ---- #}
    <aside class="sidebar is-collapsed" id="sidebar">
      <div class="sidebar__top">
        <div class="sidebar__brand">
          <div class="sidebar__logo">
            <img
              src="{{ url_for('static', filename='assets/img/logo.png') }}"
              alt=""
            />
          </div>
          <div class="sidebar__text">
            <span class="sidebar__brand-name">RnD Portal</span>
            <span class="sidebar__brand-desc"
              >LGEIN CBT • Production Verification</span
            >
          </div>
        </div>
        <button class="sidebar__toggle" id="toggleBtn" title="Expand">
          <i class="bx bx-chevron-left" id="toggleIcon"></i>
        </button>
      </div>
      <nav class="nav" id="nav"></nav>
      <div class="sidebar__footer" id="footer"></div>
      <div class="profile">
        <div class="profile__avatar">RA</div>
        <div class="profile__info">
          <div class="profile__name">{{ username }}</div>
        </div>
        <div class="logout">
          <button class="lobtn" id="logoutBtn">
            <i class=" bxf bx-door-open-alt"></i>
          </button>
        </div>
      </div>
    </aside>

    {# ---- Topbar Body ---- #}
    <main class="content">
      <div class="topbar">
        <div class="in-topbar">
          <p class="path" id="topbarPath">RnD Portal &gt; -</p>
          <h2 class="header" id="topbarTitle">-</h2>
          <p class="desc" id="topbarDesc">
            Production Verification Electric • Urgent─Important triage
          </p>
        </div>
      </div>
      <div class="in-content">{% block content %}{% endblock %}</div>
    </main>
  </div>
{% endblock %}

{# ---- Define Script ---- #}
{% block script %}
  <script>
    window.ACTIVE_NAV = "{{ active_nav }}";
  </script>
  <script src="{{ url_for('static', filename='javascript/sidebar/script.js') }}"></script>
  <script src="{{ url_for('static', filename='javascript/workspace/panel-switcher.js') }}"></script>
{% endblock %}
