{% extends "partials/top-sidebar.html" %}

{% block title %}<title>Dashboard - RnD Portal</title>{% endblock %}
{% block styles %}<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard/style.css') }}">{% endblock %}

{% block content %}
<div class="dashboard-body">
    <h1>Selamat datang, {{ username }}</h1>
    <p>Anda berhasil login.</p>
    <button id="logoutBtn">Logout</button>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script>
    document.getElementById('logoutBtn').addEventListener('click', async () => {
        await fetch('/logout', { method: 'POST' });
        window.location.href = '/';
    });
</script>
{% endblock %}